@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Regular'),
    url(@/assets/fonts/Ubuntu-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium'),
    url(@/assets/fonts/Ubuntu-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'),
    url(@/assets/fonts/Ubuntu-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}
